 

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
   background-color: #0B9F8B;
}
.jumbotron{
    font-size:25px;
    margin-top: 45px;
    margin-left: 85px;
    margin-right: 85px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-shadow: 6px 6px 6px black;
}

.container-fluid {
    margin-top:100px;
    display: flex;
}


#movie img{

    width: 100%;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color:whitesmoke;
}
.overview{
    font-size-adjust:initial;
    color: lightskyblue;
}
form{
    width: 100px;
    margin: auto;
    margin-top: 75px;
    justify-content: center;
}
.search{
    width: 100%;
    padding: 10px;
    font-size:20px;
   

}
.submit{
    width: 15%;
    padding: 10px;
    font-size:20px;
    background-color: bisque;
}
.box{
    position: absolute;
    top:50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%,-50%);
}


input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="text"]
{
background: #fff;
width:  340px;
height: 50px;
border: none;
outline: none;
padding: 0 25px;
border-radius:25px 0 0 25px ;
}
input[type="submit"]
{
position: relative;
left : -5px;
border-radius: 0 25px 25px 0;
width: 150px;
height: 50px;
border: none;
outline: none;
cursor: pointer;
background: #40A478;
color: #fff;

}
#movie .col-md-3.cinema{
    height: 375px;
}
#movie.col-md-3.img{
height: 250px;

}

/* display:flex;  Peut être remplacé par la classe d-flex de bootstrap  */ 

/*#searchArea form{